export XDG_RUNTIME_DIR=/run/user/1000
export KUBEVIRTCI_PODMAN_SOCKET=/run/user/1000/podman/podman.sock
export ARCHITECTURE=$(uname -m)
export PULL_POLICY=Always
export PODMAN_SOCKET=/run/user/1000/podman/podman.sock
export KUBEVIRT_CRI=podman
export KUBEVIRTCI_RUNTIME=podman
export KUBEVIRT_PROVIDER=k8s-1.36
export KUBECONFIG=$(pwd)/kubevirtci/_ci-configs/k8s-1.36/.kubeconfig
export KUBEVIRT_MEMORY_SIZE=8192M
export FEATURE_GATES=OCIExport
